@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
:root{
  --dark-color:#080c4a;
  --light-color: #AEB5BF;
  --primary-color:  #454C59;
 }


@media(min-width: 500px){
  ul{
    display: block
  }
  li{
    display: contents;
    padding-top: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
}
h1,h2{
  padding-top: 0.5rem;
}

a{
  text-decoration: none;
  color: var(--light-color);
  padding: 1rem;
}

a:hover{
  color: var(--dark-color);
}

ul{
  margin-top: 1rem;

}

li{
  margin: 1rem;
  list-style-type: none;
}

.page{
  text-align: center;
  height: 90vh;
  max-width: 700px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  text-align: center;
  color: var(--light-color);
  margin: 1rem;
}